<h3><%=@task.name%></h3>
<div class="panel panel-default">
  <div class="panel-heading"><%=@task.goal%>
    <%= destroy_button(@task, '') %>
    <%= edit_button(@task, '') %>
  </div>
  <div class="panel-body">
    <p><strong>Priority: <%=@task.priority%></strong></p>
    <p><strong>Due Date: <%=common_date(@task.due_date)%></strong></p>
    <p><%=simple_format @task.description%></p>
  </div>
</div>
<%= link_to 'Back', tasks_path, class: 'btn btn-default' %>
